/* .body-of-text {
    margin-top: 20;
    margin-left: -200;
    padding-left: 10;
    margin-right: -150;
} */

.section-1{
    margin-top: 0px;
    background-color: #28c79b; 
    /* #1fac84; */
    text-align:center;
    line-height:450px;
    width:100%;
    height:450px;
  }
.content{
    padding: 2% 5%;
}
 ol.a {
    list-style-position: outside;
    padding-left: 5%;
    margin-left: 5%;
    padding-right: 5%;
}
ul.b {
    list-style-type: disc;
    padding-left: 5%;
    list-style-position: outside;
    margin-left: 5%;
    padding-right: 5%;
}
ul.c{
    list-style-type: circle;
    padding-left: 5%;
    list-style-position: outside;
    margin-left: 5%;
    padding-right: 5%;
}

ul.d{
    list-style-type: square;
    padding-left: 5%;
    list-style-position: outside;
    margin-left: 5%;
    padding-right: 5%;
}
.h2{
    font-size: 30;
}
.h3{
    font-size: 20;
}