/* .body-of-text {
    margin-top: 20;
    margin-left: -200;
    padding-left: 10;
    margin-right: -150;
} */

.section-1{
    margin-top: 0px;
    background-color: #28c79b;
    text-align:center;
    line-height:450px;
    width:100%;
    height:450px;
  }
.content{
    padding: 2em;
}
/* ol.a {
    list-style-position: outside;
    padding-left: 50;
}
ul.b {
    list-style-type: disc;
    padding-left: 50;
    list-style-position: outside;
}
ul.c{
    list-style-type: circle;
    padding-left: 50;
    list-style-position: outside;
}
ul.d{
    list-style-type: square;
    padding-left: 50;
    list-style-position: outside;
}
.h2{
    font-size: 30;
}
.image-footer{
    padding-top: 20px;
    margin-left: auto;
    font-style: italic;
    font-size: small;
}
.h3{
    font-size: 20;
} */