
html {
	scroll-behavior: smooth;
}

@font-face {
	font-family: 'LemonMilk';
	src: url(../assets/fonts/LEMONMILK-Regular.otf);
    }
@font-face {
	font-family: 'ProximaNova';
	src: url(../assets/fonts/Proxima-Nova.otf);
    }

@font-face {
	font-family: 'ProximaNovaBold';
	src: url(.../assets/fonts/ProximaNovaBold);
}


/* START OF NAVBAR */
.navbar {
  margin-top: 16px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px rgb(36, 35, 35);
  /*  */
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.nav-link {
  text-decoration: none !important;
}
.nav-container {
	display: flex;
	width: calc(100% - 20px);
	padding-left: 10px;
	padding-right: 10px
      }
      .center-expand {
	flex-grow: 1
      }
      .nav-link:hover, .nav-link:focus {
	color: #1f5271;
	background-color: #ffffff;
	/*  */
}
.nav-link {
  border-radius: 4px;
}
.dropdown-menu {
  background-color:#212529 !important;
  /*  */
}
.dropdown-item {
  background-color: inherit;
  width: 100%;
}
.dropdown-item:hover {
  background-color: #32363ae3 !important;   
  /*  */
}
.dropdown-menu>li {
  padding: 0
}
.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.55);
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* dropdown transition */
@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end{ right:0; left: auto;  }
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff !important;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}	

img {
	max-width: 100%;
	height: auto;
      }
/* END OF NAVBAR */




@keyframes fade-in{
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-webkit-keyframes fade-in{
	0% {opacity: 0;}
	100% {opacity: 1;}
}


.animated-fade-in{
	background-color: #212529;
	animation: fade-in 2s linear;
	-webkit-animation: fade-in 2s linear;
	animation-fill-mode: forwards;
}

.animated-fade-in-out {
	background-color: #212529;
	opacity: 1;
	text-align: center;
  }




@keyframes left-right{
	0% {margin-left: -200vw;}
	100%{margin-left: 0vw;}
}

@-webkit-keyframes left-right {
	0% {margin-left: -200vw;}
	100%{margin-left: 0vw;}
}
.animated-left-to-right {
	background-color: #212529;
	animation: left-right 3s;
	-webkit-animation: left-right 3s;
	animation-fill-mode: forwards;
}




.container {
	background-color: #212529;
	width: 100vw;
	font-size: 5vmin;
	font-family: ProximaNova !important; 
}

.main {
	display: flex;
	flex-direction: row;
	justify-content: center space-around;
	text-align: center;
}

.center {
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	align-items: center;
	text-align: center;
}

.right {
	display: flex;
	align-items: right;
	text-align: right;
	justify-content: right;
}

.left {
	display: flex;
	align-items: left;
}


a:link{
	text-decoration: none;
}


@keyframes counter {
	0% {
	  counter-increment: count 0;
	}
	10% {
	  counter-increment: count 1;
	}
	20% {
	  counter-increment: count 4;
	}
	30% {
	  counter-increment: count 6;
	}
	40% {
	  counter-increment: count 8;
	}
	50% {
	  counter-increment: count 9;
	}
	60% {
	  counter-increment: count 11;
	}
	70% {
	  counter-increment: count 13;
	}
	80% {
	  counter-increment: count 15;
	}
	90% {
	  counter-increment: count 16;
	}
	100% {
	  counter-increment: count 18;
	}
}
.counting::after {
	content: counter(count);
	animation: counter 2.5s linear;
	animation-fill-mode: forwards;
}







/* START OF FOOTER */
.footer {
	width: 100%; 
	background-color: rgb(59, 59, 59);
	border-top: solid 10px #49ccecb2;
	display: block;
}

/* Region with logos */  
.footer-wrapper {
	height: fit-content !important; 
    background-color: #fff !important;
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center !important;
	justify-content: space-evenly !important;
    padding-left: 20px !important;
	padding-right: 20px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
    box-sizing: border-box !important;
}


.teamlogo {
	padding-right: 20px;
	border-right: solid 2px #000
}

.vertical-stack {
	display: grid;
	grid-template-columns: auto;
	align-items: inherit;
	justify-content: inherit;
	height: inherit;
	padding: inherit;
	color:#000
}

.footer-links {
	transition: transform.3s !important;
}
.footer-links:hover {
	transform: scale(1.1);
	background-color: none;
}

.footer-links-socials{
	transition: transform.6s;
}
.footer-links-socials:hover{
	transform: scale(2);
}

.footer-text {
	color: #000;
	display: block;
	margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

/* END OF FOOTER*/