/* iGEM Topbar Fixes */
.navbar {
  margin-top: 16px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px rgb(36, 35, 35);
  /*  */
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.nav-link {
  text-decoration: none !important;
}
.nav-container {
	display: flex;
	width: calc(100% - 20px);
	padding-left: 10px;
	padding-right: 10px
      }
      .center-expand {
	flex-grow: 1
      }
      .nav-link:hover, .nav-link:focus {
	color: #1f5271;
	background-color: #ffffff;
	/*  */
}
.nav-link {
  border-radius: 4px;
}
.dropdown-menu {
  background-color:#212529;
  /*  */
}
.dropdown-item {
  background-color: inherit;
  width: 100%;
}
.dropdown-item:hover {
  background-color: #32363ae3;   
  /*  */
}
.dropdown-menu>li {
  padding: 0
}
.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.55);
    border-color: rgba(255, 255, 255, 0.1);
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Scrollbar + Topbar from @namasi */
	/* back to top button  */
#myBtn {
		  display: none;
		  position: fixed;
		  bottom: 6vh;
		  right: 7.3vw;
		  z-index: 99;
		  border: none;
		  outline: none;
		  cursor: pointer;
		}
		
#myBtn:hover {
		  background-color: #555;
		}
		/* <!--scroll indicator  --> */
	
	.header {
			position: fixed;
			top: 25vh;
			left: 1.5vw;
			z-index: 0.5;
			width: 3px;
			height: 50vh;
			background-color: #f1f1f1;
		  }
		
		.text {
				font-size: 80px;
				color: rgba(55, 0, 128, 0.774);
				text-align: center;
				line-height: 3em;
			}
		
		.line {
				background: rgba(160, 28, 248, 0.829);
				height: 0%;
				border-radius: 4px;
				width: 3px;
				z-index: 1;
				position: fixed;
				top: 25vh;
				left: 1.5vw;
			}
/* Backtotop End */
