*{
	font-family: ProximaNova;
}
.section-1 h1{
	font-family: LemonMilk;
}

h1 h2 h3 h4 h5 h6{
	color: white !important;
	font-family: ProximaNova !important;
}

@font-face {
	font-family: 'LemonMilk';
	src: url(../assets/fonts/LEMONMILK-Regular.otf);
    }
@font-face {
	font-family: 'ProximaNova';
	src: url(../assets/fonts/Proxima-Nova.otf);
    }

/* iGEM Topbar Fixes */
.navbar {
  margin-top: 16px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px rgb(36, 35, 35);
  /*  */
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.nav-link {
  text-decoration: none !important;
}
.nav-container {
	display: flex;
	width: calc(100% - 20px);
	padding-left: 10px;
	padding-right: 10px
      }
      .center-expand {
	flex-grow: 1
      }
      .nav-link:hover, .nav-link:focus {
	color: #1f5271;
	background-color: #ffffff;
	/*  */
}
.nav-link {
  border-radius: 4px;
}
.dropdown-menu {
  background-color:#212529;
  /*  */
}
.dropdown-item {
  background-color: inherit;
  width: 100%;
}
.dropdown-item:hover {
  background-color: #32363ae3;   
  /*  */
}
.dropdown-menu>li {
  padding: 0
}
.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.55);
    border-color: rgba(255, 255, 255, 0.1);
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* dropdown transition */
@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end{ right:0; left: auto;  }
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}	

img {
	max-width: 100%;
	height: auto;
      }


/* Scrollbar + Topbar from @namasi */
	/* back to top button  */
#myBtn {
		  display: none;
		  position: fixed;
		  bottom: 6vh;
		  right: 3vw;
		  z-index: 99;
		  border: none;
		  outline: none;
		  cursor: pointer;
		}
		
#myBtn:hover {
		  background-color: #555;
		}
		/* <!--scroll indicator  --> */
	
.header {
		position: fixed;
		top: 32.5vh;
		left: 1.5vw;
		z-index: 0.5;
		width: 3px;
		height: 35vh;
		background-color: #1f5e4c;
	}
		
.text {
		font-size: 80px;
		color: rgba(55, 0, 128, 0.774);
		text-align: center;
		line-height: 3em;
	}
		
.line {
		background:#28c79b;
		height: 0%;
		border-radius: 4px;
		width: 3px;
		z-index: 1;
		position: fixed;
		top: 32.5vh;
		left: 1.5vw;
	}
/* Backtotop End */






/* Sidenav Start */
.sidenav {
	height: auto;
	width: auto;
	padding-top: 150px;
	padding-left: 5px;
	padding-right: 10px;
  
	margin-top: 25%;
	margin-bottom: 20px;
	position: -webkit-sticky;
	position: sticky;
	top: 9.5%;
}
  
  .sidenav #sidenav-id li{
      /*background-color: #2b2d31;*/
	  list-style-type: none;
  }
  
  .sidenav a {
	text-align: left;
	color: #fff;
	font-size: 2vmin!important;
	  /* font-family: 'Titillium Web'!important; */
    font-style: normal !important;
    font-weight: 600 !important;
      }
  
  .sidenav a:hover {
	color: #000;
	background-color: #28c79b;
	border-radius: 20px!important;
      }
 .sidenav-active{
	color: #ffffff;
	background-color: #28c79a4b;
	border-radius: 20px!important;
 } 
  @media (max-width: 900px) {
	.sidenav {
		  display: none;
		  }
      }
/* Sidenav End */






/* Second-div start */
.second-div {
	background-color: #212529 !important;
}
  
.second-div .content h1 {
	text-align: left !important;
	padding-top: 8%;
	padding-right: 5%;
	/* font-family: "Titillium Web" !important; */
	font-weight:700 !important;
	font-size: 6vmin !important;
	
  
}
  
.second-div .content p {
	padding-left: 5%;
	padding-right: 5%;
	/* font-family: "Titillium Web" !important; */
	font-weight:400 !important;
	font-size: 2.5vmin !important;
}
  
html {
	scroll-behavior: smooth;
}
		  /* body{
		      padding-top:65px;
		      background:#edd1cb;
		  } */
/* Second-div End */



/* team page content */


.team-content {
	padding: 2% 5%;
	background-color: #212529;
}

/* .content start */
.content h3 {
    font-size: 3vmin;
    font-weight: 600 !important;
}
.content a {
    margin: auto;
    text-decoration: none;
    color: #28c79b;
    position: relative;
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    z-index: 0;
    white-space: nowrap;
}
.content a:after {
    content: '';        
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 0rem;
    left: 0rem;
    background-color:#28c79b;
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transform-origin: bottom center;
    z-index: -1;
}
.content a:hover {
    color: #000;
}
.content a:hover:after {
    right: 0;
    left: 0;
    height: 100%;
}

#content {
	width: 100%;
    margin: 0px;
    padding: 0px;
}

/* #top_title {
    display: none;
} */


/* .content * {
} */

.content p, .content li {
    font-size: 2.5vmin !important;
}

.content{
    background-color: #2b2d31;
    margin-right: 10px;
}

        /* #dry-lab {
            width: 50%;
            text-align: center;
            display: block;
            justify-content: center;
            margin: auto;
            flex: 1;
        } */

.graph {
	justify-content: center;
	font-style: italic;
	text-align: center;
}

/* .content end */


/* Sponsor Bar */
/* Footer bar */
.footer {
	width: 100%;
	background-color: rgb(59, 59, 59);
	border-top: solid 10px #49ccecb2;
	display: block;
}

/* Region with logos */  
.footer-wrapper {
	height: fit-content;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
	justify-content: space-evenly;
    padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
    box-sizing: border-box;
}


.teamlogo {
	padding-right: 20px;
	border-right: solid 2px #000
}

.vertical-stack {
	display: grid;
	grid-template-columns: auto;
	align-items: inherit;
	justify-content: inherit;
	height: inherit;
	padding: inherit;
	color:#000
}

.footer-links {
	transition: transform.3s;
}
.footer-links:hover {
	transform: scale(1.1);
}

.footer-links-socials{
	transition: transform.6s;
}
.footer-links-socials:hover{
	transform: scale(2);
}

.footer-text {
	color: #000;
	display: block;
	margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

/* END OF SPONSOR BAR */



/* Other */

/* @media (max-width: 768px) {
.top-illus{
	margin-top:0px;
}
}*/
	
body {
	position: relative;
	width: 100%;
	padding-top: 0px;
}

html {
	scroll-behavior: smooth;
}
/* body{
	padding-top:65px;
	background:#edd1cb;
} */

/* Other end */
