/* iGEM Topbar Fixes */
.navbar {
  margin-top: 16px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.nav-link {
  text-decoration: none !important;
}
/* Scrollbar + Topbar from @namasi */
	/* back to top button  */
#myBtn {
		  display: none;
		  position: fixed;
		  bottom: 20px;
		  right: 30px;
		  left: 95%;
		  z-index: 99;
		  font-size: 18px;
		  border: none;
		  outline: none;
		  background-color: rgba(0, 255, 234, 0.658);
		  color: white;
		  cursor: pointer;
		  padding: 15px;
		  border-radius: 4px;
		  width: 60px;
		}
		
#myBtn:hover {
		  background-color: #555;
		}
		/* <!--scroll indicator  --> */
	
	.header {
			position: fixed;
			top: 25%;
			left: 20px;
			z-index: 0.5;
			width: 3px;
			height: 50%;
			background-color: #f1f1f1;
		  }
		
		.text {
				font-size: 80px;
				color: rgba(55, 0, 128, 0.774);
				text-align: center;
				line-height: 3em;
			}
		
		.line {
				background: rgba(160, 28, 248, 0.829);
				height: 0%;
				border-radius: 4px;
				width: 3px;
				z-index: 1;
				position: fixed;
				top: 25%;
				left: 20px;
			}
