@use "../custom" as *;

.header-section-wrapper{
	background-color: $gray-900;
	.header-section{
		position:relative;
		display:flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 400px;
		padding: 100px 20vw;
	}
	.section-1{
		background-color: $light-green;
	}
}

.spacer{
	aspect-ratio: 900/100;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.layer1{
	background-image: url('../../assets/svgs/layered-waves-haikei-2.svg');
}

.view-border{
	border-style: solid;
	border-color: $purple-dark;
	border-width: 1px;
}

.view-border-2{
	border-style: solid;
	border-color: $light-yellow;
	border-width: 3px;
}