@use "../custom" as *;

.header-section-wrapper{
	background-color: $gray-900;
	// .header-section{
	// 	position:relative;
	// 	display:flex;
	// 	flex-direction: column;
	// 	justify-content: center;
	// 	align-items: center;
	// 	min-height: 400px;
	// 	padding: 50px 20vw;
	// }
	// .section-1{
	// 	margin-top: 16px;
	// 	background-color: $light-green;
	// }
	.leftbarsec{
		background: linear-gradient(to bottom, #212529, #313233);
	}
	.contentsec{
		background-color: #212529;
		box-shadow: rgb(39, 38, 38) -12px 0px 5px -2px;
	}
}
// $gray-600: #6c757d;
// $gray-700: #495057;
// $gray-800: #343a40;
// $gray-900: #212529;
// $black:    #000
.spacer{
	aspect-ratio: 900/100;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.layer1{
	background-image: url('../../assets/svgs/layered-waves-haikei-2.svg');
}

.view-border{
	border-style: solid;
	border-color: $purple-dark;
	border-width: 1px;
}

.view-border-2{
	border-style: solid;
	border-color: $light-yellow;
	border-width: 3px;
}